.conteiner {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  grid-template-areas: 
  '. header .'
  '. main .'
  '. footer .'
  ;

  grid-template-columns: 15px 1fr 15px;
}

.main {
  grid-area: main;
  margin-top: 60px;
}